<div id="main-container" draggable="true" {{action "drag" on="touchstart"}}>
  <div id="image-grid" class="pure-g">
    <div class="pure-u-1-6 v-centre">
      <button id="negative" class="pure-button pure-button-primary" {{action "reject"}}>
        no
      </button>
    </div>
    <div id="image-container" class="pure-u-2-3">
      {{#view App.MovableImage}}
        <img {{bind-attr src=image}}></img>
      {{/view}}
    </div>
    <div class="pure-u-1-6 v-centre">
      <button class="pure-button pure-button-primary"  id="positive" {{action "accept"}}>
        yes
      </button>
    </div>
  </div>
  <div id="description">{{description}}</div>
  <br>
  <div id="tags">
    {{#each tag in tags}}
      <span>#{{tag}}</span>
    {{/each}}
  </div>
</div>