<div id="main-view" draggable="true" {{bind-attr hidden=hideMain}}
  {{action "drag" on="touchstart"}}>
  <div class="centre">
    <button id="previous" class="pure-button pure-button-primary"
      {{action "previous"}}>
      previous
    </button>
  </div>
  <br>
  <div id="image-grid" class="pure-g">
    <div id="negative" class="pure-u-1-6 v-centre">
      <button  class="pure-button pure-button-primary" {{action "reject" current}}>
        no
      </button>
    </div>
    <div id="image-container" class="pure-u-2-3" {{action 'view-thumbs'}}>
      {{#view App.MovableImage}}
        <img {{bind-attr src=image}}></img>
      {{/view}}
    </div>
    <div id="positive" class="pure-u-1-6 v-centre">
      <button class="pure-button pure-button-primary" {{action "accept" current}}>
        yes
      </button>
    </div>
  </div>
  <br>
  <div id="site-name">{{current.name}}</div>
  <br>
  <div id="description">{{current.description}}</div>
  <br>
  <div class="centre">
    <button id="next" class="pure-button pure-button-primary"
      {{action "next"}}>
      next
    </button>
  </div>
</div>

<div id="map-canvas" class="pure-u-1-1" {{bind-attr hidden=hideMap}}>
</div>

<div id="more-pictures" class="pure-g" {{bind-attr hidden=hideThumbs}}>
  {{#each image in images}}
    <div class="pure-u-1-3 nav-thumb" {{action 'set-image' image}}>
      <img {{bind-attr src=image.thumbnail.url}}>
    </div>
  {{/each}}
</div>
    