<div id="creation-from" class="pure-gr">
  <form class="pure-form pure-form-stacked">
    <fieldset>
      Name        {{input type="text" id="name"  value=sight.name}}
      Best Photo <br> {{input type="file" id="main-image" value=sight.flagship_photo}}
      <br>
      Description {{textarea id="description" value=sight.description}}
      Location    {{input type="text" id="location" value=sight.location}}
      Geo-Coordinates {{input type="text" id="coordinates" value=sight.geocoordinates}}
      Address     {{textarea id="address" value=sight.address}}
      More Photos
      <br>
      {{input type="file" id="more-images" value=sight.more_photos}}
      <br>
      <button class="pure-button img-submit" {{action 'addImage' current_image}}>Add Image</button>
      <ul class="image-list">
        {{#each sight.additional_photos}}
          <li>{{path}}</li>
        {{/each}}
      </ul>
      <br>
      <button class="pure-button pure-button-primary" {{action 'save'}}>Save</button>
    </fieldset>
  </form>
</div>