<div id="main-view" draggable="true" 
  {{action "dragStart" on="dragStart"}}
  {{action "drag" on="drag"}}
  {{action "dragEnd" on="dragEnd"}}>
  <div class="centre">
    <button id="previous" class="pure-button pure-button-primary"
      {{action "previous"}}>
      previous
    </button>
  </div>
  <br>
  <div id="image-grid" class="pure-g">
    <div id="negative" class="pure-u-1-6 v-centre">
      <button  class="pure-button pure-button-primary" {{action "reject" current}}>
        no
      </button>
    </div>
    <div id="image-container" class="pure-u-2-3" {{action "view-thumbs"}}>
      {{#view App.MovableImage}}
        <img {{bind-attr src=image}}></img>
      {{/view}}
    </div>
    <div id="positive" class="pure-u-1-6 v-centre">
      <button class="pure-button pure-button-primary" {{action "accept" current}}>
        yes
      </button>
    </div>
  </div>
  <br>
  <div id="site-name">{{name}}</div>
  <br>
  <div id="description">{{description}}</div>
  <br>
  <div class="centre">
    <button id="next" class="pure-button pure-button-primary"
      {{action "next"}}>
      next
    </button>
  </div>
</div>
<hr>
<div class="centre">
  <button id="map" class="pure-button pure-button-primary" {{action "view-map"}}>
    Go to Map
  </button>
</div>
